
@{
    ViewBag.Title = "SuccessFeedBack";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="alert alert-dismissable alert-success text-center">
    <h3>Thank you</h3>

    <h4><i class="glyphicon glyphicon-ok"></i>&nbsp;Your appointment is booked and we will contact you soon.</h4>
</div>

