@{
    ViewBag.Title = "Contact";
}
 
<div class="container" style="width:1263px;">

    <img src="~/Content/Images/header3.png" style="width:1263px; height:400px;" alt="Chania">
</div>


<div class="container" style=" width: 1263px;">
    <div class="row" style="background-color: #145885;padding-top: 20px; width: 1260px;">
        <div class="col-lg-12" style="        text-align: center !important;">
            <h3 style="color: white; margin-top: -6px">
                We also have face-to-face private Gp appointments available Monday to Friday
            </h3>
        </div>

    </div>
</div>

<div class="container" style="width:1263px;">
    <div class="row" style="      height:360px;  background-color: #eeeeee;  padding-top: 50px;  width: 1260px;  ">
        <div class="col-lg-4">

            <div>
                <div class="gp" style="text-align:center">

                    <h3>
                        Book GP Appointment
                    </h3>
                    <img src="~/Content/Images/appointment.png" style="display:inline-block;  margin-top:20px; margin-bottom:10px;" alt="Chania">
                    <br />
                    <a class="btn btn-success" href="@Url.Action("Index","Appointment")" style="margin-top: 20px !important;">Book Now</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <div>
                <div class="gp" style="text-align:center">

                    <h3>
                        Book Consultant
                    </h3>
                    <img src="~/Content/Images/computer.png" style="display:inline-block;  margin-top:20px; margin-bottom:10px;" alt="Chania">
                    <br />
                    <a class="btn btn-success" href="@Url.Action("Index","Appointment")" style="margin-top: 20px !important;">Book Now</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <div>
                <div class="gp" style="text-align:center">

                    <h3>
                        Book Clinicians
                    </h3>
                    <img src="~/Content/Images/clininc.png" style="display:inline-block;  margin-top:20px; margin-bottom:10px;" alt="Chania">
                    <br />
                    <a class="btn btn-success" href="@Url.Action("Index","Appointment")" style="margin-top: 20px !important;margin-bottom:10px !important;">Book Now</a>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="container" style=" width: 1263px; margin-top: 66px;background-color: #145885; padding: 30px; ">
    <div class="row" style=" width: 1260px; padding: 76px;">
        <div class="col-lg-6">
            <h1 style="color: white;"> PRIVATE GP</h1>
            <h3 style="color: white; margin-top: 26px; font-size: 18px;
 ">
                Our Private Gps are available Online seven days a week <br> (09:00-19:00)
                and could deal with most of the problems within two hours.
                Private prescriptions are sent
                to your nearby chemist,usually within an hour.
            </h3>
        </div>
        <div class="col-lg-6">
            <button style="    margin-left: 275px; " class="button3 button0"> Register </button>

        </div>

    </div>
</div>

